*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    color: blue;
}

.header >p{
    color: black;
    font-size: 40px;
    padding: 20px 0;
    text-align: center;
    }

    .main{
        display: grid;
        border: 1px solid royalblue;
        padding: 5px;
        font-size: 30px;
        text-align: center;
        grid-gap: 10px;
        grid-template-columns: 200px repeat(3, 1fr);
        grid-template-rows: repeat(3, 1.25fr);

    }

    .main >div{
        display: block;
        padding: 20px;
        color: sienna;
        background-color: skyblue;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25), 4px 4px 10px rgba(0, 0, 0, 0.25);
    }